
@page "{handler?}/{id?}"
@model Clean.UI.Pages.Student.Profile.StudentHealthStatusModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    Layout = null;
}

<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["وضیعت صحی شاگرد"]</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">

        <form id="dv_Student_Profile_StudentHealthStatus" class="form sub-form page-component" type="form" prefix="uxs" parent="dv_Student_Profile_Profile" parentcol="ProfileID">
            <fieldset class="content-group">
                <legend class="text-bold">@_localizer["انیجا وضیعت صحی شاگرد را درج نمایید"]</legend>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["وضیعت فزیکی شاگرد"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <textarea id="uxsdescription" name="uxsDescription" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>@_localizer["ثبت معلومات"]</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>@_localizer["جستجو"] </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>@_localizer["صفحه جدید"]</button>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="Id">@_localizer["شماره"] </th>
                            <th colname="Description">@_localizer["وضیعت فزیکی شاگرد"] </th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </form>

    </div>
</div>
