@page "{handler?}"
@model Clean.UI.Pages.Administration.Subject.SubjectModel
@{
    ViewData["Title"] = "Subject";
}
<div class="panel panel-flat">
    @Html.AntiForgeryToken()
    <div class="panel-heading">
        <h1 class="panel-title">مشخصات مضمون جدید</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
        <form id="dv_Administration_Subject_Subject" class="form main-form page-component" type="form" prefix="ux">
            <fieldset class="content-group">
                <legend class="text-bold">مشخصات مضمون جدید را وارد نمایید</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="text-bold">
                                        نوع تعلیمات
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxschooltypeid" name="uxSchoolTypeId" class="select search" asp-items="@Model.ListOfSchoolTypes" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label class="text-bold">نام مضمون</label>
                                    <input id="uxname" name="uxName" type="text" class="form-control search" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label class="text-bold">نام مضمون ( انگلیسی )</label>
                                    <input id="uxnameeng" name="uxNameEng" type="text" class="form-control search" />
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12 ">
                                    <div class="form-group has-feedback has-feedback-left">
                                        <label class="text-bold">ملاحظات</label>
                                        <input id="uxremarks" name="uxRemarks" type="text" class="form-control search" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label class="text-bold">
                                            حالت
                                            <span class="text-danger">&nbsp;*</span>
                                        </label>
                                        <select id="uxstatusid" name="uxStatusID" class="select" asp-items="@Model.ListOfStatus" required>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 ">
                                    <div class="form-group has-feedback has-feedback-left">
                                        <label class="text-bold">ترتیب نمایش</label>
                                        <input id="uxvieworder" name="uxViewOrder" type="text" class="form-control search" />
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>جستجو</button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید</button>
                    </div>
                </div>
            </div>
            <div class="form-grid main-form-details">
                <table bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="SchoolTypeName">نوع تعلیمات</th>
                            <th colname="Name">نام مضمون</th>
                            <th colname="NameEng">نام مضمون (انگلیسی)</th>
                            <th colname="StatusName">حالت</th>
                            <th colname="Remarks">ملاحظات</th>
                            <th colname="ViewOrder">ترتیب نمایش</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </form>
    </div>
</div>

<div class="page-sidebar page-component" type="actionmenu">
    <ul class="navigation navigation-accordion">
        @Html.Raw(@Model.SubScreens)
    </ul>
</div>